<h1 class="display-6" style="margin: 2rem;">Consignas del Trabajo Práctico</h1>
<h3><span>Parte 1:</span></h3>
<div class="container-fluid align-content-center" style="width: 80%;">
  <iframe src="../../../assets/consignas1.pdf" style="width:100%; height:700px;" frameborder="0"></iframe>
</div>
<h3><span>Parte 2:</span></h3>
<div class="container-fluid align-content-center" style="width: 80%;">
  <iframe src="../../../assets/consignas2.pdf" style="width:100%; height:700px;" frameborder="0"></iframe>
</div>